
.navbar {
  height: 120px;
}

.navbar-logo {
  height: 250px !important;
  width: 250px!important;
  max-width: unset !important;
  max-height: unset !important;
}

.navbar-logo img {
  display: block; /* Ensure no extra space below the image */
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.rounded { // headshot shape
    border-radius: 50px 20px 50px 20px !important;
}

.subtitle{
  text-align: center !important
}

.center {
  text-align: center !important
}

.justify {
  text-align: justify !important
}
