/*-- scss:defaults --*/

/*-- scss:defaults --*/

/*-- scss:defaults --*/



/*-- scss:rules --*/

.navbar {
  height: 120px;
}

.navbar-logo {
  height: 250px !important;
  width: 250px!important;
  max-width: unset !important;
  max-height: unset !important;
}

.rounded { // headshot shape
    border-radius: 50px 20px 50px 20px !important;
}

.subtitle{
  text-align: center !important
}

.center {
  text-align: center !important
}

.justify {
  text-align: justify !important
}

@media (max-width: 767.98px) {
  .navbar-collapse .navbar-nav.navbar-nav-scroll.ms-auto {
    display: flex;
    flex-direction: row;
  }
}